.sponsors-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 35px 0px;
  gap: 20px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.sponsors-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 80px;
  width: 100%;
  max-width: 1240px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.sponsor-tier {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 60px;
  width: 100%;
  max-width: 1240px;
  flex: none;
  flex-grow: 0;
  min-height: fit-content;
}

.sponsor-tier-title {
  width: 100%;
  max-width: 1240px;
  height: 69px;
  font-family: 'Jersey 10';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 69px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0;
}

.sponsor-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  max-width: 1240px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.title-sponsors-grid {
  padding: 0px 275px;
  gap: 160px;
  min-height: 313px;
}

.gold-sponsors-grid {
  padding: 0px 80px;
  gap: 120px;
  min-height: 313px;
}

.silver-sponsors-grid {
  padding: 0px 80px;
  gap: 40px 120px;
  min-height: 1019px;
}

.sponsor-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 11px;
  width: 200px;
  height: 313px;
  flex: none;
  flex-grow: 0;
}

.sponsor-logo {
  width: 200px;
  height: 200px;
  background: #8C8C8C;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sponsor-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 200px;
  height: 102px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.sponsor-name {
  width: 200px;
  height: 102px;
  font-family: 'Jersey 10';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 34px;
  text-align: center;
  color: #CDD4DA;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
